@model IEnumerable<FitnessCenter.Entities.Activity>

@{
    ViewBag.Title = "Занятия";
}

<h2>Список занятий/услуг</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Тип/группа
        </th>
        <th>
            Продолжительность
        </th>
        <th>
            Описание
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID }) |             
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
