@model FitnessCenter.Entities.ActivityType

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Тип занятий</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Занятия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activities)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
