@model FitnessCenter.Entities.Ticket

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Клубная карта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Стоимость
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>        

        <dt>
            Время посещения (с)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>

        <dt>
            Время посещения (по)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableTo)
        </dd

        <dt>
            Срок действия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration) месяц(ев)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
