@model IEnumerable<FitnessCenter.Entities.Ticket>

@{
    ViewBag.Title = "Клубные карты";
}

<h2>Клубные карты</h2>

<p>
    @if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){@Html.ActionLink("Создать", "Create")}
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Время посещения (с)
        </th>
        <th>
            Время посещения (по)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableTo)
        </td>
        <td>
            @if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){@Html.ActionLink("Редактировать", "Edit", new {  id = item.Id })} |
            @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
            @if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){@Html.ActionLink("Удалить", "Delete", new { id = item.Id })}
        </td>
    </tr>
}

</table>
