<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Фитнесс центр</title>
    <link rel="stylesheet" href="Content/FileUpload/css/jquery.fileupload-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Accounting)){
                    <li>@Html.ActionLink("Сотрудники", "Index", "Employee")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Administrator)){
                    <li>@Html.ActionLink("Залы", "Index", "Room")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){
                    <li>@Html.ActionLink("Занятия", "Index", "Activity")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){
                    <li>@Html.ActionLink("Типы занятий", "Index", "ActivityType")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){
                    <li>@Html.ActionLink("Скидки", "Index", "Discount")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){
                    <li>@Html.ActionLink("Клиенты", "Index", "Client")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){
                    <li>@Html.ActionLink("Карты", "Index", "Ticket")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){
                    <li>@Html.ActionLink("Выдача карт", "Index", "TicketOrder")</li>}
@if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager))
{
    <li>@Html.ActionLink("Расписание", "Index", "Timetable")</li>}
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Отчеты", "Index", "Timetable")</li>}
                    @*<li>@Html.ActionLink("Контакты", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Фитнесс центр</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
