@model FitnessCenter.Entities.Room
@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Зал</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, "Название", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>        

        <dt>
            @Html.LabelFor(model => model.Description, "Описание", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (FitnessCenter.Models.HtmlHelpers.SecurityTrim(FitnessCenter.Entities.Roles.Manager)){@Html.ActionLink("Редактировать", "Edit", new { id = Model.ID })} |
    @Html.ActionLink("Назад", "Index")
</p>
